@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap');

*, *::before, *::after { margin: 0; padding: 0; }
html, body { width: 100%; height: 100%; }
body {
 background: #000;
 overflow: hidden;
}
.wrap {
 position: relative;
 width: 100%;
 min-height: 100%;
 color: #FFF;
 h1 {
  font-size: 2.25em;
  line-height: 1em;
  font-family: 'Shippori Mincho', serif;
  font-weight: 400;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  letter-spacing: 0.15em;
  display: inline-flex; flex-wrap: nowrap;
  align-items: center; justify-content: center;
  vertical-align: middle;
  big { font-size: 1.4em; }
  small { font-size: 0.8em; }
  span { transform: scale(0.8, 1); }
  &::after {
   content: attr(data-en);
   font-size: 1rem;
   -webkit-writing-mode: horizontal-tb;
   -ms-writing-mode: horizontal-tb;
   writing-mode: horizontal-tb;
  }
  animation: titledisp 2s 1 alternate;
 }
}
.lead { padding: 1em; font-family: 'Shippori Mincho', serif; font-size: 1rem; font-weight: 400; }
.enter {
 padding: 1em; 
 font-size: 1.2rem;
 line-height: 1em;
 font-family: Impact, "Arial Black", Gadget, "sans-serif";
 color: #FFF;
 letter-spacing: 1em;
 $shadow_color: rgba(63, 63, 255, 1);
 text-shadow: 
  0 0 0.05em $shadow_color,
  0 0 0.06em $shadow_color,
  0 0 0.07em $shadow_color,
  0 0 0.08em $shadow_color,
  0 0 0.09em $shadow_color,
  0 0 0.20em $shadow_color,
  0 0 0.20em $shadow_color,
  0 0 0.20em $shadow_color,
  0 0 0.50em $shadow_color;
 animation: huerotate 5s infinite alternate;
}
/* タイトルアニメーションのキーフレーム定義 */
@keyframes titledisp {
  0% {
   transform: scale(0, 0);
  }
  50% {
   transform: scale(0, 1);
  }
  100% {
   transform: scale(1, 1);
  }
}

/* 色相アニメーションのキーフレーム定義 */
@keyframes huerotate {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

#player {
  width: 100%;
  height: auto;
}
#loader {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
  background-color: #fff;
  background-image: url(https://i-studio.jp/img/bg/loading-wt.gif);
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  display: none;
}
#overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(https://i-studio.jp/img/bg/border-screen.png);
  width: 100%;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  display: block;
}
#overlay.dot {
  background-image: url(https://i-studio.jp/img/bg/dot-screen.png);
}
#container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  height: auto;
  display: table;
}
#contents {
 text-align: center;
 vertical-align: middle;
 display: table-cell;
 cursor: pointer;
}